:root {
    /* paleta de colores */

    --color-principal: #80d0e2d7;
    --color-secundario: #c3c3c3;
    --color-terciario: #ecf0f3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--color-terciario);
    font-family: futura-pt, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100vh-50px);
    padding-bottom: 25%;
}

.input-pass {
    width: 180px;
    text-align: center;
    background-color: var(--color-terciario);
    font-size: 15px;
    border: 0px;
    margin-bottom: 20px;
    outline: none;
    padding-bottom: 3px;
}

.input-pass::placeholder {
    color: var(--color-secundario);
}

.input-pass:focus {
    border-bottom: 1px solid black;
    border-style: dashed;
    border-color: var(--color-secundario);
}
.contenedor-pass {
    margin-bottom: 10px;
    position: relative;
}

.ojito{
    position: absolute;
    cursor: pointer;
    right: 3px;
    top:0px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 90px;
    cursor: pointer;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color-terciario);
    border-radius: 20px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, .3),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: var(--color-terciario);
}

.slider:before {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 999;
    width: 90px;
    height: 70px;
    border-radius: 10%;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: var(--color-terciario);
    content: "";
    transition: .5s;
}

.off {
    position: absolute;
    top: 14px;
    right: 12px;
}

.on {
    position: absolute;
    top: 14px;
    left: 14px;
}

input:checked+.slider:before {
    transform: translateX(96px);
}

.contendorForm {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 330px;
}

.config {
    text-align: center;
    color: var(--color-principal);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color-terciario);
    border-radius: 10px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, .3),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: var(--color-terciario);
}

.config:before {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 999;
    border-radius: 50%;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(0, 0, 0, .3);
    background-color: var(--color-terciario);
    content: "";
    transition: .5s;
}

.titulo {
    margin-top: 15px;
    margin-bottom: 10px;
}

.subtitulo {
    margin-bottom: 8px;
}

.form-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 170px;
}

.form-pass input {
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    border: 0px;
    border-radius: 15px;
}

.inpass:focus {
    outline: none;
    border: 2px solid var(--color-principal);
}

.form-pass input::placeholder {
    color: var(--color-secundario);
    font-size: 15px;
}

.form-pass button {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 80px;
    height: 30px;
    background-color: var(--color-principal);
    border: 0px;
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--color-terciario);
    font-weight: bold;
    font-size: small;
    box-shadow: 1px 2px 3px var(--color-secundario);
    cursor: pointer;
}

.form-pass button:disabled, button[disabled] {
    background-color: var(--color-secundario);
    box-shadow: none;
}

.form-pass button:active, button[enabled] {
    background-color: var(--color-principal);
    box-shadow: 0 5px var(--color-secundario);
    transform: translateY(4px);
}

.negar-pass {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.negar-pass input {
    background-color: var(--color-secundario);
    border-radius: 50px;
}

.negar-pass label {
    width: 190px;
    color: var(--color-secundario);
}

.opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alineamiento {
    text-align: left;
    vertical-align: center;
    font-size: 14px;
}

.class-opt {
    margin-bottom: 8px;
}

.class-opt:default {
    border-color: aqua;
}

.contenedor-setting {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
    height: 50px;
    padding-top: 10px;
    padding-right: 15px;
}

.btnSetting {
    padding: 0.5em 0.5em;
    border: none;
    border-radius: .5rem;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
        -6px -6px 10px rgba(255, 255, 255, .5),
        6px 6px 8px rgba(255, 255, 255, .075),
        6px 6px 10px rgba(0, 0, 0, .15);
}

.btnSetting:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.btnSetting:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}

footer{
        text-align: center;
        font-size: xx-small;
        padding-bottom: 10px;
        color: var(--color-secundario);
    }

    a {
        text-decoration: none;
        color: var(--color-secundario);
    }

@media (max-width: 400px) {

    #container{
        margin-bottom: 40%;
    }
}